<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>LoginLecturerController</servlet-name>
        <servlet-class>controller.auth.LoginLecturerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStudentController</servlet-name>
        <servlet-class>controller.auth.LoginStudentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.auth.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controller.auth.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListFeatureController</servlet-name>
        <servlet-class>controller.home.ListFeatureController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewInformationUserController</servlet-name>
        <servlet-class>controller.profile.ViewInformationUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LecturerViewExamController</servlet-name>
        <servlet-class>controller.exam.LecturerViewExamController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginLecturerController</servlet-name>
        <url-pattern>/login/lecturer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStudentController</servlet-name>
        <url-pattern>/login/student</url-pattern>
    </servlet-mapping>
    <!--    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>-->
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListFeatureController</servlet-name>
        <url-pattern>/home/feature</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewInformationUserController</servlet-name>
        <url-pattern>/student/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LecturerViewExamController</servlet-name>
        <url-pattern>/exam/lecturer</url-pattern>
    </servlet-mapping>
</web-app>
